body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
}
a {
  color: cyan;
}
h1,
p,
ul,
a {
  margin: .5rem
}
img {
  user-select: none;
}

/* about CSS */
.about-div {
  border: 1px solid white;
  border-radius: 10px;
  padding: .5rem;
  margin: .5rem;
  background-color: rgba(255, 255, 255, 0.137);
}

/* title CSS */
.avatar {
  border-radius: 50%;
  height: 2rem;
  border: 1px solid 190b30cb;
}
.title-div {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem;
  margin: 0.5rem;
  min-width: 16rem;
  text-align: center;
  font-size: 1.7rem;
  text-decoration: none;
  color: inherit;
  transition: 100ms;
}
.title:hover {
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 1.8rem;
  transition: 100ms;
}
.title-text {
  padding-top: 0.25rem;
}

/* cell phone CSS */
.body-div {
  color: black;
  background-color: rgb(231, 225, 251);
  width: 428px;
  height: 926px;
  border: 12px double black;
  border-radius: 10px;
  margin: 1rem;
  overflow: hidden;
  user-select: none;
}

/* menu CSS */
.hamburger-icon {
  height: 2rem;
  padding: .5rem;
}
.main-menu-title {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.top-flex {
  display: flex;
}
.bot-flex-child {
  display: flex;
  justify-content: space-evenly;
}
.left,
.center,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  border: 1px solid black;
  font-size: 1.3rem;
  cursor: pointer;
}
.left:hover,
.center:hover,
.right:hover {
  font-weight: bold;
}

/* sidebar CSS */
.sidebar-div {
  position: relative;
  left: -100%;
  transition: .15s ease-out;
  height: 80%;
  width: 80%;
  background-color: rgb(83, 13, 80);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-in {
  left: 0%;
  transition: .15s ease-out;
}
.sidebar-menu-list{
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.sidebar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  height: 100%;
  width: 100%;
}
.sidebar-list:hover {
  font-weight: bold;
}
